
section.images{
    width: 100%;
    margin: 3rem 0;
}

section.images div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section.images div img{
    max-width: 352px;
    margin: 2rem;
}